body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('IMGBACK.png'); 
    background-size: cover; 
    background-position: center center; 
}
header {   
    padding: 1em;
    text-align: center;
    font-family: cursive;
    color: lavender;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 30px;

}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: ;
    
}

.logo-container img {
    max-height: 70px; 
    margin-right: 0px; 
    margin-top: 5px;
    margin-bottom: 20px;
}
header p {
    margin-top: 0;
    position: absolute;
    top: 190px;
    left: 400px;
    font-size: 30px;
    
}

.inq {
    height: 5px;
    width: 100p%;
   
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
    font-family: cursive;
    font-size: 30px;  
    text-align: center;

}

nav a:hover {
    color: skyblue;
}

.main {
    padding-left: 50px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
}

.placeholder{
    width: 80%;
    border: 3px;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    padding: 50px;
    margin-bottom: 30px;
}
.content{
    width: 90%;
    border: 3px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 10px 15px black  ;
    text-align: justify;
    background-color: white;
    padding: 50px;
    margin: 20px;
    overflow: hidden;
}
.content img{
    width: 260px;
    height: 260px;
    float: left;
}
.content h2 {
    margin-left: 300px;
    font-family: cursive;
    color: black;
    font-size: 20px;


}
.content p {
    margin-left: 300px;
    font-family: cursive;
    color: black;
    font-size: 20px;
}

p {
      color: black;
    }

